* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;


}

/*nav bar*/
#sram-logo {
    height: 20px;
    width: auto;
    float: left;
    z-index: 1;


}

.navbar {
	position: fixed;
	opacity: 70%;


}

#sramNav li a:hover, 
#sramNav li a:active {
	border-bottom: 2px solid #e51937;
	

}


/*end of nav bar*/

/*index hero*/
#hero-header {
	height: 100vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/hero1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;


}

.hero-logo img {
	padding-top: 20rem;
	width: auto;


}

.hero-title h1 {
	font-size: 5rem;
	color: white;
	text-align: center;
	padding-left: 60rem;

}

h1 {
	font-size: 5rem;
	font-weight: bold;
	text-transform: uppercase;
}

h2 {
	font-size: 3rem;
	text-transform: uppercase;
}

hr {
	border: 2px solid #D4AF37;
	width: 500px;
}

 /*end of hero*/

/*product overview*/

#product-overview-img {
	width: 800px;
	height: 500px;
}


/*end of product overview*/

/*feature*/

.container {
	padding-top: 100px;
	padding-bottom: 100px;
	display: flex;
	justify-content: center;

}

.container > div {
	margin: 10px;

}

.first, .second, .third {
	width: auto;
	height: auto;
}


/*gallery*/

.container {
	padding-top: 100px;
	padding-bottom: 100px;
}

.img-fluid {
	width: 100%;
	height: auto;
	border: 1px solid;
	color: white;
}

figure img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1);
    transition: transform 0.5s, opacity 0.5s;

}

figure img:hover {
    opacity: 1;
    transform: scale(.9);
}

figcaption {
	text-transform: uppercase;
	text-align: center;
}

/*end of gallery*/

/*about*/

/*about hero*/

#about-header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
}


#history {
    width: 1300px;
    overflow: hidden;

}

#ceo-img {
	width: 800px; 
	padding-left: 50px;
    float: left;
    overflow: hidden;

}

/*end about*/

/*product*/

#product-header {
	height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

#groupset-description {
    width: 1300px;
    overflow: hidden;

}

#groupset-text {
    width: 30%;
    float:left;
    text-align: left;

}

#groupset-img {
	width: 100%;
	height: 400px;
}

/*sram racing*/


.fill {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 85%;

}

.racing-btn {
	color: white;
	position: absolute;
	padding-top: 30rem;
    position: center;
    float: left;

}

/*end of sram racing*/

/*contact */

#contact-header {
	height: 80vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/joinsram.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

/*google map embed*/

#gmap {
	width: 100%;
	display: block;
	border: none;
	height: 50vh;
	border-radius: 10px;
	float: right;

}


/*footer*/

footer {
    background-color: #333;
    margin-top: 50px;
    padding: 50px;
    font-size: 80%;

}

.footer-nav {
    list-style: none;

}

.social-links {
    list-style: none;
    
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;

}

.footer-nav li a:link,
.footer-nav li a:visited, 
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;

}

.footer-nav li a:hover,
.footer-nav li a:active,
.social-links li a:hover,
.social-links li a:active {
    color: white;
    
}

footer p {
    color: #888;
    text-align: center;
    margin-top: 10px;
}

/*mobile view*/
@media only screen and (max-width: 400px) {
	.hero-logo img {
		width: auto;
		height: 1rem;
	}

	.hero-title {
		font-size: 2rem;
	}
}

/*tablet view*/
@media only screen and (min-width: 401px) and (max-width: 960px) {

	.sign-up,
	.feature-1,
	.feature-2, 
	.feature-3 {

		width: 50%;
		float: left;
	}
}

/*desktop view*/
@media only screen and (min-width: 961px) {

	/*fixed width layout*/
	.page {

		width: 960px;
		margin: 0 auto;

	}
	
	.header {
		height: 400px;

	}

}






